/* destinations menu dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}

/* setting width for country code field */
#countryCode {
    width: 100px;
}

/* Adding a vertical line between 2 child divs */
.home-form-section {    
    border-right: 2px solid grey;
}

/* Phone number invalid span class */
#phone-number-error {
	display: none;
}

/* Birthday invalid span class */
#birthday-error {
	display: none;
}

/* Home Section setting */
.home-form-section {
    flex-basis: 80%;
}

/* Packages container height to occupy full height */
.packages-container {
    height: 100%;
}

/* Individual package styling */
.package {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-basis: 33.33%;
    justify-content: start;
    height: 90%;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
}

.image-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.package-name {
    padding: 8px;
}

.package-description {
    padding: 8px;
}

.image-container img {
    width: 200px;
    height: 100px;
    border-radius: 5px;
}

.book-now-btn {
    text-decoration: none;
    align-self: center;
    max-width: 100px;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #0d6efd; /* adjust to your desired color */
    color: #ffffff; /* adjust to your desired color */
    cursor: pointer
}