/* destinations menu dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}

/* setting width for country code field */
#countryCode {
    width: 100px;
}

/* Adding a vertical line between 2 child divs */
.home-form-section {    
    border-right: 2px solid grey;
}

/* Phone number invalid span class */
#phone-number-error {
	display: none;
}

/* Birthday invalid span class */
#birthday-error {
	display: none;
}
